{% extends "ajax.html" %}
{% block content %}

	<table id='table_gruppi' class='table table-striped'>
		<thead>
			<tr>
				<th>Codice</th>
				<th>Descrizione</th>
				<th>Studenti</th>
				<th>Tasks</th>
				<th>In gara</th>
			</tr>
		</thead>
		<tbody>
		{% for g in gruppi %}
			<tr>
				<td>{{g.nomegruppo}}</td>
				<td>{{g.descgruppo}}</td>
				<td>{{g.studenti|count}}</td>
				<td>
					{% for t in g.tasks %}{{t.titolo}} [D. {{t.difficolta}}]<br>{% endfor %}
				</td>
				<td>	
					{% if g.in_gara == 1 %}
						<span class='fa fa-circle fa-2x text-success editobject'
							fn="admin/group/abilitazione/on/"
							_object_id="{{g.id}}"
							callbackfn="$('#groups').click()"
							
						></span>
					{% else %}
						<span class='fa fa-circle fa-2x text-dark editobject'
							fn="admin/group/abilitazione/off/"
							_object_id="{{g.id}}"
							callbackfn="$('#groups').click()"
							
						></span>
					{% endif %}
				
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>	

{% endblock %}


	
