{% extends "ajax.html" %}
{% block content %}
	<button type="button" id='add-button' class="btn btn-info mb-3 editobject"
		fn='admin/group/new' _object_id='-1'
		>Nuovo Gruppo</button>

	<table id='table_gruppi' class='table table-striped'>
		<thead>
			<tr>
				<th>Codice</th>
				<th>Descrizione</th>
				<th>Studenti</th>
				<th>Tasks</th>
				<th>In gara</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for g in gruppi %}
			<tr>
				<td>{{g.nomegruppo}}</td>
				<td>{{g.descgruppo}}</td>
				<td>{{g.studenti|count}}</td>
				<td>
					{% for t in g.tasks %}{{t.titolo}} [D. {{t.difficolta}}]<br>{% endfor %}
				</td>
				<td>	
					{% if g.in_gara == 1 %}
						<span class='fa fa-circle fa-2x text-success editobject'
							fn="admin/group/abilitazione/on/"
							_object_id="{{g.id}}"
							callbackfn="$('#groups').click()"
							
						></span>
					{% else %}
						<span class='fa fa-circle fa-2x text-dark editobject'
							fn="admin/group/abilitazione/off/"
							_object_id="{{g.id}}"
							callbackfn="$('#groups').click()"
							
						></span>
					{% endif %}
				
				</td>
				<td>
					<span class='fa fa-edit fa-2x editobject'
						fn='admin/group/edit/'
						_object_id='{{g.id}}' title='edit gruppo'
						></span>			</tr>
				</td>
		{% endfor %}
		</tbody>
	</table>	

{% endblock %}


	
