<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="388526617140-hfi8vbnlpnk7bvkk2id3vf2ep3svpjki.apps.googleusercontent.com">
    
	<script src="https://kit.fontawesome.com/dc496d5d11.js" crossorigin="anonymous"></script>
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/ver.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/static/css/mobile.css" />

    {% block custom_css %}

    {% endblock %}

    <title>
		{% block title %}{{ MAIN_APP_TITLE }}{% endblock %}
    </title>
  </head>
  <body>

	<div class='w-50 text-center p-6 mt-2 border border-primary mx-auto'>
		<h2>La piattaforma di valutazione aprirà<br>alle ore 8:00 del 25 Gennaio 2022</h2>
	</div>

  </body>
</html>
